
 body {
    background-color:rgb(197, 228, 228) ;
} 
p, span { 
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    width: 400px;
}

/**
 Esto es un comentario dentro de un documento CSS
*/

/** {
    font-family: 'Open Sans', sans-serif;;
} */


h1 {
    font-family: 'Raleway', sans-serif;
    border: 1px solid black;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    /** 
    Cuando lo definís en una sola línea es TOP RIGHT BOTTOM LEFT (Sentido agujas del reloj
    */
    padding: 30px 15px 25px 20px;
    font-weight: bold;
    color: gray;
}
section {
    width: 500px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

#mi_parrafo {
    color: yellow;
    font-size: 23px;
    border: 1px solid salmon;
}

.estaesmiclase {
    font-weight: bold;
    color: lightblue;
}

#demo {
    color: rebeccapurple
}